body {
    font-family: "Gilroy", sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}



.section {
    min-width: 1280;
    font-family: "Gilroy", sans-serif; 
    margin: 0;
}


.container-about-us {
   max-width: 1280px;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 65px;
        padding-right: 65px;
      
}


.block-1 {
    width: 580px;
        align-items: flex-start;
        justify-content: flex-start;
        background: rgba(243, 243, 243, 1);
        border-radius: 50px;

}

.about-us-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
        font-size: 48px;
        line-height: 0.91667;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        padding-top: 80px;
        padding-left: 60px;
}


.about-us-text {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
        padding: 40px 60px;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: -0.02em;
            color: rgba(12, 12, 12, 0.7);
}           

.about-us-image {
    border-radius: 50px;
        width: 530px;
        height: 100%;
        background: rgba(12, 12, 12, 0.2);
}


.catalog-btn {
    border-radius: 16px;
        width: 160px;
        height: 48px;
        background: #3350e9;
        border: none;
        cursor: pointer;
        font-family: "Gilroy", sans-serif;
        font-weight: 500;
            font-size: 14px;
            line-height: 1.28571;
            text-align: center;
            color: #fbfbfb;
            margin-left: 60px;
            margin-bottom: 80px;
}

.catalog-btn:hover,
.catalog-btn:focus {
    background: #1f3cd4;
}


@media screen and (min-width: 768px) {

.section {
    min-width: 768px;
}

.container-about-us {
    min-width: 768px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin: 0 auto;
}

.block-1 {
    width: 704px;
}

.block-2 {
    max-width: 704px;
}

.about-us-image {
    min-width: 704px;
    height: 100%;
}
}